.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.text-primary {
  color: #fd6e0a;
}
.secondary-bg {
  background-color: #fff8f3;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: none;
  padding: 18px 35px;
}
.dark-2 {
  color: #474747;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #474747;
}
.section-description {
  font-size: 18px;
  color: #474747;
}
.text-center {
  text-align: center;
}
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-grettings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-profile-pic {
  width: 580px;
}
/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-description {
  font-weight: 600;
}
/* skills-container */
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
